<section class="jumbotron vCodes">
  <br><br>
  <div class="container px-3 mb-5 mt-1">
    <div class="mb-3 mx-auto">
      <span class="icon-section" style="margin-top: -5%;float: right;">
      <!-- <img draggable="false" style="z-index: -1!important;" src="../img/logo.png" width="320" alt="Bots | BotVerse"> -->
      </span>
      <h1 class="has-text-white title" style="font-weight: 800;">BotVerse</h1>
      <p class="content has-text-white" style="opacity: 0.6; margin-top: -20px;">¿No quieres expandir y mejorar tu bot de Discord? ¡BotVerse está aquí para usted!</p>
      <p class="content has-text-white" style="opacity: 0.6; margin-top: 30px;">Nuestro sitio web está en línea gracias a los servicios de nuestro proveedor <a href="https://dash.huguitisnodes.host/">Huguitis Nodes</a>.</p>
      <div>
        <div class="z mt-2">
          <form action="/search" style="width: 100%;">
            <input name="q" autocomplete="off" id="search" class="z mainInput searchIcon isMobile" style="background-color: #2c2f33!important; width: 70%; margin-right: 10px;" type="text" placeholder="Buscar Bots...">
            <input type="hidden" name="page" value="1" style="display: none;">
          </form>          
          <a translate="no" title="BotVerse" href="/tag/Moderación" class="btn btn-tag"><i
              class="fa fa-magic"></i>&nbsp;Moderación</a>
          <a translate="no" title="BotVerse" href="/tag/Diversión" class="btn btn-tag"><i
              class="fa fa-smile"></i>&nbsp;Diversión</a>
          <a translate="no" title="BotVerse" href="/tag/NSFW" class="btn btn-tag"><i
              class="fa fa-lips"></i>&nbsp;NSFW</a>
          <a translate="no" title="BotVerse" href="/tag/Utilidad" class="btn btn-tag"><i
              class="fa fa-cogs"></i>&nbsp;Utilidad</a>
          <a title="BotVerse" href="/tags" class="btn btn-tag"><i class="fa fa-tags"></i>&nbsp;Explorar Tags</a>
        </div>
      </div>
    </div>
  </div>
</section>



</div>